// reset e fonte padrão
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

// scroll suave para a página
html {
  scroll-behavior: smooth;
}

// regras para o header
.header {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: #75bc97;
}

// background do header
.bg-header {
  display: flex;
  justify-content: space-between;
}

// setando a altura das imagens do header
.bg-header img {
  max-height: 500px;
}

// regra para imagens
.responsive {
  max-width: 100%;
  height: auto;
}

// regras para logo
.logo {
  position: absolute;
  margin-top: 57px;
}

// posição da seta (âncora)
.seta {
  position: absolute;
  top: 400px;
}

// regra de espaçamento do container
.container {
  padding-left: 15%;
  padding-right: 15%;
}

// setando o box do título
.header-title {
  position: absolute;
  width: 500px;
  height: 252px;
  margin-top: 120px;
}

// estilo do título
.header-title h1 {
  position: absolute;
  font-size: 70px;
  line-height: 85px;
  font-weight: 700;
  color: #fff;
  width: 100%;
}

// setando o box e alinhamento do main
.main {
  position: relative;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}

// setando o box das options
.option {
  position: relative;
  width: 220px;
  height: auto;
  padding: 5% 0 5% 0;
  color: #848484;
}

// regra das imagens das options
.option img {
  height: 75px;
}

// utilitario de inversão para imagens
.inverter {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

// estilo do texto das options
.option p {
  margin: 10% 0 10%;
  font-size: 14px;
  line-height: 22px;
}

// estilo dos selects das options
.option select {
  margin-top: 2%;
  min-width: 220px;
  min-height: 40px;
  border: 1px solid #a8a8a8;
  box-sizing: border-box;
  border-radius: 19px;
  color: #a8a8a8;
  padding-left: 1%;
}

//setando o box e alinhamento do results
.results {
  background-color: #f2f2f2;
  position: absolute;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: left;
  padding-top: 5%;
}

// estilo do título dos resultados
.results h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #a9a9a9;
  margin-bottom: 3%;
}

// estilo do texto dos resultados
.results p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #A9A9A9;
  width: 40%;
}

// setando espaçamento da imagem em resultados
.results img{
    margin-left: 50%;
}

